@font-face {
  font-family: "Gordita-Regular";
  src: url(./fonts/gordita-cufonfonts-webfont/Gordita\ Regular.woff);
}

@font-face {
  font-family: "Gordita-Medium";
  src: url(./fonts/gordita-cufonfonts-webfont/Gordita\ Medium.woff);
}

@font-face {
  font-family: "Gordita-Bold";
  src: url(./fonts/gordita-cufonfonts-webfont/Gordita\ Bold.woff);
}

:root {
  --darker-theme-color: black; /* #2c0e76 */
  --contrast-theme-color: #e91e96; /* #e91e63 */
  --font-color: white;
}

html,
body {
  font-family: "Gordita-Regular";
  background-color: var(--darker-theme-color);
  margin: 0;
}

/* navigation bar */
nav {
  box-sizing: border-box;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}

nav > ul > li:first-child {
  margin-right: auto;
  white-space: nowrap;
  font-family: "Gordita-medium";
  color: var(--contrast-theme-color);
  cursor: pointer;
}

nav > ul > li:not(:first-child) {
  transition-property: color;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

nav > ul > li:not(:first-child):hover {
  color: var(--contrast-theme-color);
}

/* header section */
.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-content {
  z-index: 1;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

header > .header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gordita-Bold";
  min-height: 100vh;
}

.header-content > h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  margin: 0;
  animation: slide-up 0.7s ease-out;
}

.my-name,
.web-development {
  color: var(--contrast-theme-color);
}

.scroll-down {
  background-color: transparent;
  width: 100px;
  height: 100px;
  padding: 0;
  border: 0;
  cursor: pointer;
  animation-delay: -0.5s;
  animation: slide-up 1s ease-out;
}

.scroll-down > svg {
  fill: var(--contrast-theme-color);
  animation-duration: 1s;
  animation-name: change-color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: -0.9s;
}

@keyframes change-color {
  from {
    fill: var(--contrast-theme-color);
  }

  to {
    fill: transparent;
  }
}

/* about section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darker-theme-color);
  padding: 10px 10px 10px 10px;
  min-height: 100vh;
}

.about > h1 {
  font-family: "Gordita-Bold";
  color: var(--contrast-theme-color);
  margin-top: 88.5px;
}

.about .content {
  flex-grow: 0;
  flex-basis: 1;
  padding-top: 30px;
  color: white;
  margin-bottom: 30px;
}

.developer-description {
  margin: 0;
  line-height: 175%;
}

.developer-description > span {
  color: var(--contrast-theme-color);
}

.skills {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.skills > h2 {
  margin-left: auto;
  margin-right: auto;
  color: var(--contrast-theme-color);
  font-family: "Gordita-Medium";
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gordita-Medium";
  transition: transform 0.7s;
  cursor: pointer;
}

.skill-container:hover {
  transform: scale(1.15);
}

.skill-container > a > img {
  width: 75px;
  margin-bottom: 20px;
}

.skill-container > h3 {
  margin: 0;
  color: white;
}

/* projects section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darker-theme-color);
  padding: 98.5px 20px;
}

.projects > h1 {
  font-size: 40px;
  margin: 0;
  font-family: "Gordita-Bold";
  color: var(--contrast-theme-color);
  text-align: center;
}

.projects-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  row-gap: 150px;
  column-gap: 50px;
  margin-top: 63.2px;
  width: 100%;
}

.project-explanation-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.button-container {
  display: flex;
  width: 100%;
  max-width: 450px;
  gap: 20px;
}

.button-container > a {
  flex-grow: 1;
  flex-basis: 0;
}

.live-preview,
.view-code {
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
  border: 0;
  font-family: "Gordita-Medium";
  font-size: 16px;
  background-color: var(--font-color);
  color: var(--contrast-theme-color);
  cursor: pointer;
  transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

.live-preview:hover,
.view-code:hover {
  background-color: var(--contrast-theme-color);
  color: var(--font-color);
}

.project-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-name {
  color: var(--contrast-theme-color);
  margin: 0 0 20px 0;
  font-family: "Gordita-Medium";
}

.project-description {
  color: var(--font-color);
  margin: 26px 0;
}

.project-description > span {
  color: var(--contrast-theme-color);
}

@keyframes materialize {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
  }
}

.project-image-section > div {
  width: 100%;
  padding-bottom: 45%; /* Maintains aspect ratio */
  margin: 0 25px;
  border-bottom: solid white;
  border-width: 3px;
  border-color: var(--font-color);
  background-position: center;
  background-size: 100% 100%;
  cursor: pointer;

  transition: background-image 0.75s ease-in-out;
}

.project-image-section.project-1 > div {
  background-image: url(./images/shopping-cart.gif);
}

.project-image-section.project-1 > div:hover {
  background-image: url(./images/shopping-cart.png);
}

.project-image-section.project-2 > div {
  background-image: url(./images/weather-app.gif);
}

.project-image-section.project-2 > div:hover {
  background-image: url(./images/weather-app.png);
}

.project-image-section.project-3 > div {
  background-image: url(./images/battleship.gif);
}

.project-image-section.project-3 > div:hover {
  background-image: url(./images/battleship.png);
}

.project-image-section.project-4 > div {
  background-image: url(./images/todo-list.gif);
}

.project-image-section.project-4 > div:hover {
  background-image: url(./images/todo-list.png);
}

/* contact section */
.video-container-2 {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

#background-video-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.contact-content {
  z-index: 1;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content > h1 {
  color: var(--contrast-theme-color);
  font-family: "Gordita-Bold";
  font-size: 40px;
  margin-top: 88.5px;
  margin-bottom: 33.2px;
}

.contact-content > p {
  color: var(--font-color);
  font-size: 24px;
  max-width: 800px;
  line-height: 175%;
}

.contact-content > p > span {
  color: var(--contrast-theme-color);
}

.contact-info-container {
  width: 100%;
  max-width: 400px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.contact-info-container > a {
  display: flex;
  align-items: center;
}

.contact-info-container > a:nth-child(2) > svg,
.contact-info-container > a:last-child > img {
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.7s;
}

.contact-info-container > a:first-child > img {
  width: 130px;
  height: auto;
  cursor: pointer;
  transition: transform 0.7s;
}

.contact-info-container > a > img:hover,
.contact-info-container > a > svg:hover {
  transform: scale(1.15);
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: var(--font-color);
  border-top: solid var(--border-color) 0.1px;
  padding: 25px 36px;
  text-align: center;
}

/* media queries */
@media screen and (min-height: 1250px) {
  /* about section */
  .about > .content > .developer-description {
    font-size: 24px;
  }

  .contact > .contact-content > p {
    font-size: 24px;
  }
}

@media screen and (min-height: 1000px) {
  /* about section */
  .content > .developer-description {
    font-size: 20px;
  }
}

@media screen and (min-height: 900px) {
  /* about section */
  .skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }

  .skills-container > .skill-container > img {
    width: 75px;
  }
}

@media screen and (max-width: 2560px) {
  /* navigation bar */
  nav {
    font-size: 25px;
  }

  /* header section */
  header {
    font-size: 30px;
  }
}

@media screen and (min-width: 2160px) {
  /* about */
  .about > h1 {
    font-size: 48px;
  }

  .about > .content > .developer-description {
    font-size: 36px;
    max-width: 1000px;
  }

  .skills > h2 {
    font-size: 42px;
  }

  .skills-container {
    width: 1000px;
  }

  /* projects section */
  .projects > h1 {
    font-size: 48px;
  }

  .project-name {
    font-size: 32px;
  }

  .project-description {
    max-width: 700px;
    font-size: 28px;
  }

  .button-container > a > button {
    font-size: 20px;
  }

  /* contact */
  .contact-content > h1 {
    font-size: 48px;
  }

  .contact > .contact-content > p {
    width: 1000px;
    font-size: 36px;
  }

  /* footer */
  footer {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) {
  /* navigation bar */
  nav {
    font-size: 20px;
  }

  /* header section */
  header {
    font-size: 25px;
  }

  /* about section */
  .about > h1 {
    font-size: 40px;
  }

  .developer-description {
    font-size: 24px;
    max-width: 800px;
  }

  .skills {
    min-width: 800px;
  }

  /* projects section */
  .project-description {
    max-width: 450px;
  }

  /* contact section */
  .contact-content > p {
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px) {
  /* navigation bar */
  nav {
    font-size: 20px;
  }

  /* header section */
  header {
    font-size: 20px;
  }

  /* about section */
  .about > h1 {
    font-size: 35px;
  }

  .developer-description {
    font-size: 16px;
    max-width: 550px;
  }

  .skills {
    min-width: 600px;
    margin-bottom: 60px;
  }

  .skill-container > img {
    width: 50px;
    margin-bottom: 20px;
  }

  /* projects section */
  .projects-container {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  .projects-container > .project-image-section > div {
    padding: 0;
    width: 450px;
    height: 225px;
  }

  .projects-container > .project-explanation-section.project-1 {
    order: 1;
  }

  .projects-container > .project-image-section.project-1 {
    order: 2;
  }

  .projects-container > .project-explanation-section.project-2 {
    order: 3;
  }

  .projects-container > .project-image-section.project-2 {
    order: 4;
  }

  .projects-container > .project-explanation-section.project-3 {
    order: 5;
  }

  .projects-container > .project-image-section.project-3 {
    order: 6;
  }

  .projects-container > .project-explanation-section.project-4 {
    order: 7;
  }

  .projects-container > .project-image-section.project-4 {
    order: 8;
  }

  /* contact section */
  .contact-content > p {
    max-width: 600px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  /* header section */
  header {
    font-size: 15px;
  }

  /* about section */
  .about > .content {
    padding: 0;
  }

  .developer-description {
    max-width: 500px;
  }

  .skills {
    min-width: 500px;
    margin-bottom: 60px;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    row-gap: 20px;
  }

  /* contact section */
  .contact-content > p {
    max-width: 400px;
  }
}

@media screen and (max-width: 555px) {
  /* navigation bar */
  nav > ul {
    justify-content: space-between;
    gap: 0;
    list-style-type: none;
    flex-wrap: wrap;
  }

  nav > ul > li:first-child {
    margin-right: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  /* header section */
  header > h1 {
    padding: 20px;
    font-size: 28px;
  }

  /* about section */
  .about > h1 {
    margin-top: 137px;
    margin-bottom: 10px;
  }

  .about > .content {
    margin-bottom: 10px;
  }

  .developer-description {
    max-width: 350px;
  }

  .skills {
    min-width: 350px;
    margin-bottom: 30px;
  }

  .skills-container {
    grid-template-columns: repeat(4, 80px);
    row-gap: 10px;
  }

  .skill-container > img {
    width: 40px;
    margin-bottom: 20px;
  }

  /* projects section */
  .project-explanation-section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .projects-container > .project-image-section > div {
    width: 350px;
    height: 175px;
  }

  /* contact section */
  .contact-content > p {
    max-width: 350px;
  }
}

@media screen and (max-width: 435px) {
  /* navigation bar */
  nav {
    font-size: 16px;
  }

  /* header section */
  header > h1 {
    padding: 20px;
    font-size: 21px;
    gap: 20px;
  }

  .scroll-down {
    padding-top: 40px;
    width: 80px;
  }

  /* about section */
  .content > .developer-description {
    margin-left: 40px;
    margin-right: 40px;
  }

  .skills {
    margin-bottom: 30px;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-container > img {
    width: 50px;
  }

  /* projects section */
  .projects-container > .project-image-section > div {
    width: 300px;
    height: 150px;
  }

  /* contact section */
  .contact-content > p {
    margin-left: 40px;
    margin-right: 40px;
  }

  .contact-info-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    max-width: 150px;
  }

  /* footer */
  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 336px) {
  /* header section */
  header > h1 > span:first-child {
    display: flex;
    flex-direction: column;
  }

  /* about section */
  .skills {
    min-width: 0;
  }

  /* projects section */
  .projects-container > .project-image-section > div {
    width: 280px;
    height: 140px;
  }
}

@media screen and (max-width: 320px) {
  /* navigation bar */
  nav {
    font-size: 14px;
  }

  /* projects section */
  .projects-container > .project-image-section > div {
    width: 260px;
    height: 130px;
  }
}
